*,
*::before,
*::after {
  margin: 0%;
  padding: 0ch;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  height: auto;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.container {
  padding: 50px 243px 200px 265px;
}

.column {
  flex-direction: column;
}
.title {
  column-gap: 90px;
}

.title h1 {
  font-family: PT Serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.045em;
  text-align: left;
  width: 278px;
}
.paragraph h1 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.paragraph p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.gallery {
  display: grid;
  column-gap: 50px;
  margin-left: 243px;
  margin-right: 265px;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
}

.gallery img {
  width: 200px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.gallery .flex h1 {
  font-family: PT Serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  transform: rotate(90deg);
  margin-top: 30px;
  width: 80px;
  margin-left: -23px;
}
.gallery .flex h2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.down {
  margin-top: 100px;
}
footer{
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer a{
    text-decoration: none;
    color: #A9A9A9;
    margin-left: 10px;
}
footer a:first-of-type:hover{
    color: black;
}
footer a:last-of-type:hover{
    color: rgb(116, 43, 158);
}

footer p {

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #A9A9A9;
  
}

@media only screen and (max-width:769px) {
    .container{
        padding: 10px 30px 120px 10px ;
    }
    .title{
        flex-direction: column;
    }
    .title h1{
        margin-bottom: 20px;
    }
    .gallery{
        margin: 0% 20px;
    }
}
@media only screen and (min-width:1400px) and (max-width:1600px) {
    .container{
        padding: 10px 350px 120px 350px ;
    }
    
    .title h1{
        margin-bottom: 20px;
    }
    .gallery{
        margin: 10px 350px 100px 350px;
    }
}
@media only screen and (max-width:450px) {
    .container{
        padding: 80px 30px 120px 10px ;
    }
    .title{
        flex-direction: column;
    }
    .title h1{
        margin-bottom: 60px;
    }
    .gallery{
        margin: 0% 20px;
        column-gap: 0%;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 130px), 1fr));

    }
    .down{
        margin:0%;
    }
    .down2{
        margin-top: 50px;
    }
    .gallery img {
        width: 110px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
}

.slide-top {
	-webkit-animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  